// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input {
  background-color: lightgray;
  padding: 16px 16px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.message {
  background-color: lightyellow;
  padding: 16px 16px;
  border-radius: 8px;
  margin-bottom: 8px;
}
